//===========================================
// -Navbar start
//===========================================

.main-sidebar {
    width: 0;
    height: 100vh;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.3s;
    overflow: hidden;
    @include mq('lg', max) {
        width: 250px;
    }
    .sidebar-wrapper {
        width: 250px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .page-links {
        li {
            height: rem(60);
            font-size: rem(18);
            display: flex;
            align-items: center;
            border-left: rem(5) solid transparent;
            &.active {
                border-color: $secondary;      
                background-color: $gray-100;          
            }
        }
        a {
            display: flex;
            i {
                margin: 0 rem(15);
                width: rem(30);
                text-align: center;
            }
        }
    }
    .sidebar-seprator {
        width: 90%;
    }
    .help-links {
        li {
            padding: rem(15);
        }
    }
    .sidebar-btns {
        padding: 0 15px;
    }
}
//===========================================
// -Navbar end
//===========================================
