.hslda-card {
    padding: rem(20) rem(25) rem(20) rem(25);
    border: rem(1) solid $gray-300;
    border-top: rem(4) solid $tritary;
    background-color: white;
    &.secondary {
        border-top: rem(4) solid $secondary;
    }
    &.accordian-card {
        padding: rem(20) rem(25) rem(0) rem(25);
    }
    &.tab-pane {
        border-top: none;
    }
    .card-type-box {
        .type-icon {
            margin-right: rem(15);
            font-size: rem(50);
            i {
                height: rem(42);
                display: flex;
                align-items: flex-end;
            }
        }
        .type-title {
            font-size: rem(22);
            color: $primary;
            font-weight: normal;
        }
        .type-sub-title {
            font-size: rem(16);
            font-weight: 700;
        }
    }
    &-header {
        padding-bottom: rem(25);
    }
    &-body {

    }
    .hslda-card-footer {
        margin: 0 rem(-25);
        .footer-wrapper {
            padding: rem(9.5);
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: rem(1) solid $gray-200;
            cursor: pointer;
        }
        .icon-chevron-down {
            font-size: rem(18);
        }
        .card-accordian-wrapper {
            padding-right: rem(15);
            padding-left: rem(15);
            display: none;
            &.expanded {
                display: block;
            }
        }
        &.accordian-expanded {
            .footer-wrapper {
                background-color: $neutral;
                border-bottom: rem(1) solid $gray-200;
                i {
                    transform: rotate(180deg);
                }
            }
            .card-accordian-wrapper {
                display: block;
            }
        }
    }
}

.hslda-card-id {
    width: 170px;
    height: 99px;
    border-radius: 10px;
    border: 2px solid $tritary;
    overflow: hidden;
    font-weight: 600;
    background: $primary;
    &-label {
        background: $primary;
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        position: relative;
        width: 11px;
        flex-shrink: 0;
        span {
            position: absolute;
            top: 0;
            font-size: 4px;
            left: 8.5px;
            text-align: center;
            transform-origin: 0 0;
            transform: rotate( 90deg );
            display: block;
            width: 99px;
        }
    }
    &-info {
        span {
            display: block;
            text-align: right;
        }
    }
    &-wrapper {
        padding: 6.5px 5.75px 11px 5.75px;
        background: #E2EDF1;
        height: calc(100% - 22px);
    }
    &-content {
        justify-content: space-between;
    }
    &-title {
        display: flex;
        flex-direction: column;
        img {
            width: 46px;
            margin-bottom: 4px;
        }
    }
    &-body {
        flex-grow: 1;
    }
    .ms-heading {
        color: $primary;
        font-size: 8px;
        font-weight: 300;
    }
    .members-name {
        font-size: 5.5px;
    }
    .ms-value {
        font-size: 5px;
        line-height: 1;
        margin-bottom: 2.5px;
    }
    .ms-label {
        font-size: 3.5px;
        display: block;
        font-weight: 300;
        text-align: right;
        line-height: 1;
    }
    .barcode {
        height: 8px;
        background: #000;
        width: 40px;
        margin-bottom: 2.5px;
        display: flex;
        margin-left: auto;
    }
    &-footer {
        height: 22px;
        padding: 0 6px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        img {
            height: 13px;
            &:nth-child(2) {
                height: 15px;
            }
        }
    }
}
.membership-card {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    > img {
        margin-left: rem(-90);
    }
    .hslda-card-id {
        position: absolute;
    }
}
.hlsda-card-title {
    min-height: rem(24);
}
.alert-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .alert-content {
        font-size: rem(14);
        border-left: rem(3) solid $red;
        padding-left: rem(10);
    }
}

.card-list {
    &.small {
        li {
        }
    }
    li {
        padding: rem(15) 0;
        border-top: 1px solid $gray-200;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        > div {
            flex: 1;
        }
    }
    .small {
        font-size: rem(15);
    }
}

.cc-details {
    .cc-details-container {
        display: flex;
        align-items: center;
    }
    .cc-icon {
        margin-right: rem(9);
        width: rem(39);
    }
}

.badge {
    &.badge-outline-primary {
        border: rem(1) solid $primary;
        color: $primary;
    }
    &.badge-outline-secondary {
        border: rem(1) solid $gray-200;
        color: $dark;
    }
    &.badge-outline-tritary {
        color: $dark;
        background: $gray-200;
    }
    &.badge-outline-danger {
        border: rem(1) solid $red;
        color: $red;
    }
    &.badge-outline-success {
        background-color: $success-100;
        color: $success;
    }
}

.add-method {
    display: flex;
    align-items: center;
    i {
        font-size: rem(20);
    }
}

.nav-tabs {
    .nav-item {
        flex: 1;
        .nav-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: rem(25) rem(50);
            width: 100%;
            height: rem(80);
            border-radius: 0;
            color: $gray-500;
            &.active {
                border-top: rem(4) solid $tritary;
            }
        }
        img {
            width: rem(50);
        }
        i {
            font-size: rem(40);
        }
    }
}

.not-found {
    padding: rem(25) rem(15);
    background: white;
    p {
        font-family: $font-primery;
        font-style: italic;
        margin: 0;
        color: $gray-500;
    }
}

.alert-modal {
    .modal-footer {
        border: none;
        padding-top: 0;
    }
    .modal-dialog {
        border-left: rem(4) solid $red;
    }
}

.profile-details {
    text-align: center;
    .member-number {
        color: $gray-500;
    }
    .profile-name {
        color: $primary;
    }
    .profile-img {
        width: rem(120);
        height: rem(120);
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .edit-btn {
        padding: 0 rem(15);
    }
}

.membership-banner {
    background-color: $neutral;
    padding: 0 rem(25) rem(25) rem(15);
    i {
        font-size: rem(50);
        color: $primary;
    }
    &-title {
        font-size: rem(26);
    }
    .membership-perks {
        li {
            display: flex;
            align-items: center;
            margin-bottom: rem(5);
            p {
                margin: 0;
            }
            i {
                font-size: rem(18);
                color: $success-300;
                margin-right: rem(10);
            }
        }   
    }
}

.collapse-title {
    display: flex;
    align-items: center;
    margin-bottom: rem(15);
    font-size: rem(22);
    cursor: pointer;
    i {
        margin-left: rem(10);
        font-size: rem(20);
        transition: 0.3s;
    }
    &.collapsed {
        margin-bottom: rem(25);
        i {
            transform: rotate(180deg);
        }
    }
}

.error-code {
    font-family: $font-secondary;
    font-size: rem(12);
    margin-top: rem(10);
}